.main-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.025em;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.067em;
}

@media screen and (min-width: 768px) {
  .main-heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .main-heading {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: -0.036em;
  }

  .sub-heading {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.056em;
  }
}