.social-item {
  display: inline;
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 95px;
}

@media screen and (min-width: 1200px) {
  .header-social {
    width: 165px;
  }
}