.social-item {
  display: inline;
  position: relative;
}

.social-item:hover {
  top: -3px;
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 95px;
}

.customer-social {
  display: flex;
  column-gap: 14px;
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .customer-social {
    margin-top: 11px;
  }
}

@media screen and (min-width: 1200px) {
  .header-social {
    width: 165px;
  }
}