.section-portfolio {
  padding: 29px 0px 71px 0px;
}

.portfolio-list {
  margin-top: 18px;
  display: grid;
  grid-template-areas:
      "item-1 item-2"
      "item-3 item-3"
      "item-4 item-5"
      "item-6 item-6"
      "item-7 item-7";
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.portfolio-item .portfolio-item-img {
  display: block;
  width: 100%;
}

.portfolio-item:nth-child(1) {
  grid-area: item-1;
}

.portfolio-item:nth-child(2) {
  grid-area: item-2;
}

.portfolio-item:nth-child(3) {
  position: relative;
  grid-area: item-3;
}

.portfolio-item:nth-child(4) {
  grid-area: item-4;
}

.portfolio-item:nth-child(5) {
  grid-area: item-5;
}

.portfolio-item:nth-child(6) {
  grid-area: item-6;
}

.portfolio-item:nth-child(7) {
  grid-area: item-7;
  padding: 17px 0px 24px 24px;
  background-color: #f6f6f6;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.project-title {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.031em;
}

.project-time {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.067em;
  margin-top: 2px;
}

.project-divider {
  width: 14px;
  margin-top: 18px;
}

.project-description {
  max-width: 34ch;
  margin-top: 10px;
}

.project-author {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.067em;
  margin-top: 1px;
}

.project-divider-2 {
  width: 14px;
  border-color: #4b4b4b;
  margin-top: 10px;
}

.project-name {
  text-transform: capitalize;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.016em;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .section-portfolio {
    padding: 26px 0px 72px 0px;
  }

  .portfolio-list {
    margin-top: 29px;
    grid-template-areas:
        "item-1 item-3 item-3"
        "item-6 item-6 item-2"
        "item-5 item-7 item-4";
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .project-info {
    transform: translate(0, -50%);
  }

  .project-title {
    font-size: 24px;
    letter-spacing: -0.025em;
  }
  
  .project-time {
    margin-top: 5px;
  }
  
  .project-divider {
    width: 16px;
    margin-top: 20px;
    border: 2px solid #f6f6f6;
  }
  
  .project-description {
    max-width: 34ch;
    margin-top: 24px;
  }

  .list-viewer-stats {
    display: flex;
    column-gap: 15px;
    margin-top: 10px;
  }

  .view-stat {
    width: 55px;
    height: 24px;
    background: url("../../assets/images/section-portfolio/view-stat.png");
  }

  .like-stat {
    width: 48px;
    height: 24px;
    background: url("../../assets/images/section-portfolio/like-stat.png");
  }

  .comment-stat {
    width: 43px;
    height: 24px;
    background: url("../../assets/images/section-portfolio/comment-stat.png");
  }

  .portfolio-item:nth-child(7) {
    padding: 32px 0px 0px 22px;
  }

  .project-author {
    margin-top: 5px;
  }
  
  .project-divider-2 {
    width: 16px;
    margin-top: 29px;
    border: 2px solid #4b4b4b;
  }
  
  .project-name {
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -0.028em;
    margin-top: 25px;
    max-width: 4ch;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding: 66px 0px 71px 0px;
  }

  .portfolio-list {
    margin-top: 54px;
  }

  .project-title {
    font-size: 32px;
    line-height: 42px;
  }
  
  .project-divider {
    width: 32px;
    margin-top: 31px;
    border: 3px solid #f6f6f6;
  }
  
  .project-description {
    max-width: 34ch;
    margin-top: 38px;
  }

  .list-viewer-stats {
    column-gap: 30px;
    margin-top: 24px;
  }

  .portfolio-item:nth-child(7) {
    padding: 60px 0px 0px 40px;
  } 

  .project-author {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.056em;
  }
  
  .project-divider-2 {
    width: 32px;
    margin-top: 31px;
    border: 3px solid #4b4b4b;
  }
  
  .project-name {
    font-size: 64px;
    line-height: 54px;
    letter-spacing: -0.031em;
    margin-top: 37px;
    max-width: 4ch;
  }
}