.container {
  width: 100%;
  max-width: 720px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1140px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}