/* Import font */
@font-face {
  font-family: 'roboto-regular';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'lucida-grande-bold';
  src: url(../../assets/fonts/LucidaGrandeBold.ttf);
}

/* Reset css*/
body {
  font-family: 'roboto-regular', sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #4b4b4b;
  margin: 0;
}

main {
  margin: 0 auto;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

input {
  border: none;
  padding: 0;
}